#wrapper{
	height: 120%;
	width: 900px !important;
	position: absolute;
	top: 40%;
	left: 40%;
	margin-top: -250px;
	margin-left: -275px;
	margin-bottom: 250px;
	background-color: red;
	opacity: 0.9;
 	padding: 400px;
 	font-family: 'Cardo', serif;
 	font-size: 20px !important;
 	color: blue;
}

#wrapper h1 {
	color: blue;
	width: 600px;
	position: absolute;
	top: 10;
	margin-top: -350px;
	font-size: 56px;
	margin-left: -200px;
}

#subwrapper h2 {
	color: white;
	width: 600px;
	margin-top: -150px;
	margin-left: -200px;
}

#subwrapper h3 {
	position: relative;
	right: 200px;
	margin-right: 100px;
	margin-top: 45px;
}

body {
	font-family: 'Cardo', serif;

}

.title {
	font-family: 'Cardo', serif;
	padding-top: 20px;
	text-align: center;
	font-size: 48px;
	text-transform: uppercase;
	color: white;
}

.answer-button {
	border: none;
	outline: none;
	cursor: pointer;
	width: 115px;
	height: 45px;
	border-radius: 10px;
	font-size: 15px;
	margin-top: -250px;
	top: 100px;
	color: white;
	font-color: blue;

}

.answer-button:hover {
	font-family: 'Cardo', serif;
	background: yellow;
	color: blue;
}

#start {
	font-size: 56px;
	width: 300px;
	position: relative;
	right: 90px;
	bottom: 75px;

}

.answer-button {
	opacity: 1;
	position: relative;
	margin-top: 10px;
	top: 125px;
	right: 150px;
	width: 400px;
}

#subwrapper {
	width: 600px;
}

#reset{
	margin-top: 25px;
	height: 60px;
	width: 120px;
	font-size: 24px;
	background-color: white;
	cursor: pointer;
	border-radius: 10px;
	font-family: 'Cardo', serif;

}

#reset:hover {
	background-color: yellow;
}
